.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
  }
  body{
    background-color: #c5c2c29d;
  }
  .glass-login {
    
    /* Remove background from .glass-login */
    border-radius: 20px;
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for glass effect */
    padding: 40px;
    width: 400px;
    background-color: white;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: -60px;
    margin-left: 40px;
    margin-top: -35px;
  }
  
  .logo {
    width: 230px;
    height: 230px;
    
  }
  
  .form-container {
    margin-top: 20px;
  }
  
  .login-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    backdrop-filter: blur(5px); /* Apply slight blur effect */
  }
  
  .error-message {
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #45a049;
  }
  
  .forgot-password,
  .signup-text {
    text-align: right;
    margin-top: 10px;
  }
  
  .forgot-password-link,
  .signup-link {
    color: #2196f3;
    text-decoration: none;
  }
  
  .forgot-password-link:hover,
  .signup-link:hover {
    text-decoration: underline;
  }
  
  .image-container {
    flex-grow: 1; /* Allow the container to grow and take up remaining space */
    display: flex; /* Use flexbox for layout */
    justify-content: flex-end; /* Align items to the end of the container */
    padding: 20px; /* Add some padding around the images */
  }
  
  .image {
    max-width: 100%; /* Ensure images don't exceed container width */
    max-height: 100%; /* Ensure images don't exceed container height */
    object-fit: cover; /* Scale the image to cover the entire container */
    border-radius: 10px; /* Add rounded corners to the images */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the images */
    margin-left: 10px; /* Add some spacing between images */
  }
  
  .image:first-child {
    margin-left: 0; /* Remove left margin for the first image */
  }
  
  
  /* Add styles for images inside the image-container if needed */
  